@font-face{
    /* fonts via google sora */
    font-family: 'Sora'; 
    /* https://fonts.google.com/specimen/Sora */
    src: url('assets\fonts\Sora\static\Sora-Regular.ttf') format('truetype');
}

/* default: for phones */
strong{
 color: red;   
}

body {
    font-family: courier, serif;
    width: 100%;
}

h1{
    background-color: red;
    color: white;
    text-align: center;
}
@media only screen and (min-width: 600px){
    /* for tablets */
 body{

 }   
}

@media only screen and (min-width: 768px){
     /* for desktop */
 body{
    width: 80%;
    margin: 10px 10%; 
 }
}
