@font-face{
    /* fonts via google sora */
    font-family: 'Sora'; 
    /* https://fonts.google.com/specimen/Sora */
    src: url('assets\fonts\Sora\static\Sora-Regular.ttf') format('truetype');
}

/* fa information https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
/* default: for phones */
strong{
 color: red;   
}

html {
    font-family: courier, serif;
    width: 100%;
    padding: 0px;
    /* overflow: hidden; */
    margin: 0px;
}

body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
h1{
    background-color: red;
    color: white;
    text-align: center;
    margin: 0px;
    margin-top: 10px;
}

nav {
    width: 100%;
    background: lightcoral;
}

nav a{
    display: inline-block;
    text-align: center;
    color:white;
    height: 100%;
    text-decoration: none; 
    font-size: 20px;
}
.subsection img{
    width: 100%;
}
@media only screen and (min-width: 600px){
    /* for tablets */
    body {
        width: 80%;
        margin: 0 10%; 
     }
}

@media only screen and (min-width: 768px){
     /* for desktop */
 body {
    width: 80%;
    margin: 0 10%; 
    /* background-color: pink; */
 }
 .content {
    width: 70%;
    margin: 0 15%;
    background-color:white;
    padding: 10px;
 }

 .subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }
 .subsection img{
    width: 100%; 
 }
 .contentsummary{
    width: 100%; 
 }
}
